.content 
	{
		background-color: #030806;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		letter-spacing: 2px;
		word-spacing: 3px;
		line-height: 1.25;
		font-size: 1.25em;
		
	}

h1, h2, h3
	{
		font-family: "Arial Black", Gadget, sans-serif;
	}
	
header
	{
		background-color: #00664e;
	}
	
footer
	{
		background-color: #00664e;
		text-align: center;
		position: fixed;
		bottom: 0;
		width: 100%;
	}
	
a 
	{
		text-decoration: none;
		color: white;
		text-shadow: 0px 3px 2px #000000;
	}
	
footer a:hover
	{
		background-color: #00a17e;
	}

a:hover
	{
		background-color: #00a17e;
	}
	
main a
	{
		border: 1px solid #FFFFFF;
	}
	
img
	{
		border: 3px solid #00664e;
	}

nav ul 
	{
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: #00664e;
		display: flex;
		justify-content: center;
		position: sticky;
		top: 0;
	}
	
nav ul li 
	{
		border-right: 1px solid white;
		list-style-type: none;
	}
	
nav ul li:last-child
	{
		border-right: none;
	}
	
nav ul li a 
	{
		display: block;
		color: white;
		padding: 20px 30px;
		text-decoration: none;
	}

#activePage
	{
		background-color: #00a17e;
	}
	
.box 
	{
		border: 5px solid #00664e;
		border-radius: 30px;
		margin: 40px;
		padding: 20px;
		box-shadow: 0px 5px 15px 7px #000000;
		background-color: #030806;
	}
	
input, select, textarea, button
	{
		padding: 10px;
		margin: 10px;
		border: 3px solid  #00664e;
		border-radius: 10px;
		font-family: Arial, Helvetica, sans-serif;
	}
	
input:focus, select:focus, textarea:focus, button:hover
	{
		box-shadow: 0px 0px 15px 5px #00a17e;
	}
	
button 
	{
		width: 30%;
		padding: 20px;
		cursor: pointer;
		font-size: 12pt;
	}
	
.centeredJustify
	{
		margin: auto;
		display: block;
		width: 50%;
		text-align: justify;
	}
	
.centeredCenter
	{
		margin: auto;
		display: block;
		width: 50%;
		text-align: center;
	}
	
.justify
	{
		text-align: justify;
	}

.center
	{
		text-align: center;
	}
	
strong
	{
		text-decoration: none;
		font-weight: bold;
	}

body
	{
		background-image: url("../images/aurora.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100% 100%;
		margin: 0;
	}
	
ul li 
	{
		list-style-type: square;
	}
	
.floatImage
	{
		float: left;
		border: none;
		margin-right: 30px;
		margin-left: 100px;
	}
